.portfolio {
        &-total, &-addcoin {
                display: inline-block;
        }
        &-total {
                width: 30%;
        }
        &-addcoin {
                width: 70%;
        }
        &-table {
                &__headers {
                        font-weight: bold;
                }
                &__row {
                        margin-top: 10px;
                }
        }
}
